QLabel { 
    border-style: solid;
    border-width: 2px;
    border-color: #EDEDED;
    font-size: 50px;
    font-weight: bold;
}

ServiceNowContentsFrame {
    border-color: #EDEDED;
    border-style: solid;
    border-width: 2px
}

QLabel#SubSectionHeader {
    font-size: 40px;
    background-color: #EDEDED;
}

QLabel#IncidentCounter {
    font-size: 120px;
}

QLabel#SmallIncidentCounter {
    font-weight: normal;
    font-size: 35px;
}